
body{
    background-color:#f7f7f7;
}
.bg-gray{
    background: #e9ecef;
}

.rounded-me{
    border-radius: 50px;
}

.text-gray{
    color:#999;
}

.garis-bawah{
    width:100px;
    height:1px;
    background:#999;
}

.card-img-top{
    width:100%;
    height:250px;
}

.jumbotron{
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
}